{% extends "base.html" %}
{% load mathfilters %}
{% load staticfiles %}
{% block title %}おすすめインターン{% endblock title %}

{% block content %}

<style>
    
    input[type=checkbox] {
    display: none; 
    }
    input[type="checkbox"]:checked + label {
    background: rgb(62, 211, 94);/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
    }
    .label:hover {
    background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */ 
    }
    .label {
    display: block;	/* ブロックレベル要素化する */ 
    float: left;	/* 要素の左寄せ・回り込を指定する */ 
    margin: 5px;	/* ラベル外側の余白を指定する */
    width: 70px;	/* ラベルの横幅を指定する */
    height: 40px;	/* ラベルの高さを指定する */
    text-align: center;	/* テキストのセンタリングを指定する */
    line-height: 45px;	/* 行の高さを指定する */
    padding-left: 5px;	/* ラベル内左側の余白を指定する */
    padding-right: 5px;	/* ラベル内右側の余白を指定する */
    cursor: pointer;	/* マウスカーソルの形（リンクカーソル）を指定する */
    color: #160c0c;	/* フォントの色を指定 */
    border: 2px solid rgb(62, 211, 94);/* ラベルの境界線を実線で指定する */
    border-radius: 5px;	/* 角丸を指定する */
    }
</style>

<script>
        $(document).ready(function(){
          $('table_id').dataTable();
        });
        </script>

<section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <br>
            <br>
            <h3>スーパー学生エンジニア</h3>
            <p>ここにはIT企業のインターンに参加経験のあるスーパー学生をまとめています。興味のある人にチェックをつけてください。</p>
            <p>より多くの人を選択するほど精度が高くなります。</p>
           
        </div>
    </section>
<br>
<br>
<div class="container">
        <h3>{{ message }}</h3>
        
        
        <form action="{% url 'qboard:recommend_form' %}" method="get">
        
            <!-- <div class="btn-group btn-primary  row"> -->
                <!-- <input type="submit" class="btn btn-primary" name="sort" value="閲覧数順"> -->
        <input type="submit" class="btn btn-success" name="sort" value="検索前に戻る">
            <!-- </div> -->
        
            <!-- <div class="form-group row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-primary">選択</button>
                </div>
            </div> -->
        </form>
        <form action="{% url 'qboard:recommend_search_list' %}" method="get">
          
          <input type="text" class="" name="search" placeholder="検索ワードを入力">
          <input type="submit" class="btn btn-success" value="検索">
          </form>

    
    <form action="{% url 'qboard:recommend_result' %}" method="post">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <!-- <table id="table_id" class="table table-bordered table-striped"> -->
    <!-- <table class="table table-striped table-bordered"> -->
        <thead>
            <tr>
                <th scope="col">名前</th>
                
                <th scope="col">系統</th>
                <th scope="col">インターン体験記</th>
                <th scope="col">興味あり</th>
            </tr>
        </thead>
        <tbody>
            {% for superman in supermans %}
            <tr>
                <th scope="row">
                    <a href="https://twitter.com/{{ superman.twitter_name }}" target="_blank">
                    {{ superman.name }}
                    </a>
                </th>
                
                
                <td>
                    {{ superman.skill }}
                </td>
                {% if superman.url %}
                <td>
                    <a href="{{ superman.url }}" target="_blank">
                        {{ superman.name }}のインターン体験記
                    </a>
                </td>
                {% elif superman.github %}
                <td>
                    <a href="{{ superman.github }}" target="_blank">
                        {{ superman.name }}のGithubページ
                    </a>
                </td>
                {% else %}
                <td>情報なし...</td>
                {% endif %}
                <td>
                    
                        {% csrf_token %}
                        <input type="checkbox" id="{{ superman.id }}" name="checks[]" value="{{ superman.id }}" />
                        
                        <label for="{{ superman.id }}" class="label">Follow</label>
                            

                    
                </td> 
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if page > 1 %}
    <a href="{% url 'qboard:recommend_form' %}?page={{ page|sub:1 }}">前のページ</a>
    {% endif %}
    {% if page < last_page %}
    <a href="{% url 'qboard:recommend_form' %}?page={{ page|add:1 }}">次のページ</a>
    {% endif %}

   
        <div class="form-group row">
            <div class="offset-md-3 col-md-9">
                <button type="submit" class="btn btn-success">送信</button>
                <a href="{% url 'index' %}" class="btn btn-success btn-sm">ホーム</a>
            </div>
        </div>
    </form>

    

</div>

{% endblock %}

