{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="ja">

<!-- <head>
    <meta charset="utf-8" />
    <title>QBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'qboard/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <link rel="stylesheet" href="{% static 'qboard/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'qboard/css/homepage.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-tilelayer-geojson/1.0.4/TileLayer.GeoJSON.min.js"></script>

</head> -->
<head>
    <meta charset="utf-8">
    <title>Mitsucari</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'qboard/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- Favicons -->
    <link href="{% static 'qboard/img/homepageM.png' %}" rel="icon">
    <link href="{% static 'qboard/img/homepageM.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href="{% static 'qboard/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="{% static 'qboard/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'qboard/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'qboard/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'qboard/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'qboard/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <!-- plugin -->
    <link href="{% static 'qboard/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" >
    <!-- Main Stylesheet File -->
    {% block style %}
    <link href="{% static 'qboard/css/style.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>



<body>
    <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">QBOARD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/qboard/rentroom">物件一覧</a>
                            <a class="dropdown-item" href="/qboard/recommend">おすすめ物件</a> -->
                            <!-- <div class="dropdown-divider"></div> -->
                            <!-- <a class="dropdown-item" href="/qboard/assess">物件を売る(査定)</a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/qboard/mypage">マイページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">ログアウト</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/register">会員登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">ログイン</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav> -->
    <!--==========================
    Header
    ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
            <h1><a href="/#intro" class="scrollto">Mitsucari</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li class="menu-has-children"><a href="/#services">Services</a>
                    <ul>
                        <li><a href="/qboard/search">Intern list</a></li>
                        <li><a href="/qboard/recommend">Recommend Intern</a></li>
                        <li><a href="/qboard/experience">Internship Experience</a></li>
                        <li><a href="/qboard/superman_list">Super Enginner List</a></li>
                        <li><a href="/qboard/superman_form">Super Engineer Register</a></li>
                        <li><a href="/qboard/predict">Prediction</a></li>
                    </ul>
                    </li> 
                {% if user.is_authenticated %}
                <li><a href="/qboard/mypage">My page</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
                {% else %}
                <li><a href="/accounts/register">Register</a></li>
                <li><a href="/accounts/login">Login</a></li>
                {% endif %}

                <!-- <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#team">Team</a></li>-->
                
                <li><a href="#contact">Contact</a></li>
            </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->


    <!-- Page Content -->
    <div class="main-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {{ content }}
        {% endblock %}
        {% block extra_js %}{% endblock %}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!-- <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; techpreneur 2019</p>
        </div>
       
    </footer> -->
    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
        
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Mitsucari</h3>
                    <p>MitsucariはIT企業のインターン探しに特化したアプリです。数あるインターンの中から自分に最も合うインターンを見つけましょう。</p>
                </div>
        
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                    <li><i class="ion-ios-arrow-right"></i> <a href="/">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><i class="ion-ios-arrow-right"></i> <a href="/qboard/mypage">My page</a></li>
                    <li><i class="ion-ios-arrow-right"></i> <a href="/accounts/logout">Logout</a></li>
                    {% else %}
                    <li><i class="ion-ios-arrow-right"></i> <a href="/accounts/register">Register</a></li>
                    <li><i class="ion-ios-arrow-right"></i> <a href="/accounts/login">Login</a></li>
                    {% endif %}
                    <li><i class="ion-ios-arrow-right"></i> <a href="/#services">Services</a></li>
                    
                    </ul>
                </div>
        
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Me</h4>
                    <p>
                    テックプレナー道場 <br>
                    恵比寿ガーデンプレイスタワー<br>
                    Japan <br>
                    <!-- <strong>Phone:</strong> 080 4477 3539<br> -->
                    <strong>Email:</strong> aoki-yuuto@ed.tmu.ac.jp<br>
                    </p>
        
                    <div class="social-links">
                    <a href="https://twitter.com/touyu3039" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100004631287099" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://github.com/Yuto-Aoki" target="_blank" class="github"><i class="fa fa-github"></i></a>
                    <!-- <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
                    </div>
        
                </div>
        
                <!-- <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Mitsucariの最新情報をお届けします。ぜひ購読してください。</p>
                    <form action="/" method="post">
                        {% csrf_token %}
                    <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                </div> -->
    
                </div>
            </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Techpreneur 2019</strong>. All Rights Reserved
          </div>
          <!-- <div class="credits">
            
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
           
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div> -->
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <script type="text/javascript" src="{% static 'qboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'qboard/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'qboard/js/gulpfile.js' %}"></script>
    <script src="{% static 'qboard/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'qboard/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'qboard/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'qboard/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'qboard/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'qboard/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'qboard/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'qboard/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'qboard/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'qboard/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'qboard/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'qboard/lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'qboard/lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{% static 'qboard/contactform/contactform.js' %}"></script>
    <script src="{% static 'qboard/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'qboard/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'qboard/js/main.js' %}"></script>
</body>

</html>